<div class="row mb-3">
        {% if permissions.can_update %}
            <div class="col">
                <button
                        class="btn btn-outline-primary"
                        data-on-click="@get('{{ url_for("survey_related_records:get_update_form", survey_related_record_id=survey_related_record.id) }}')"
                        aria-label="update-record"
                >{{ _("edit survey-related record") | capitalize }}
                </button>
                <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
                     data-attr-hidden="!$deleting">
                    <span class="visually-hidden">{{ _("Loading...") }}</span>
                </div>
            </div>
        {% endif %}
    <div class="col" data-signals-deleting="false">
        {% if permissions.can_delete %}
            <button
                    class="btn btn-danger"
                    aria-label="show-delete-confirmation-modal"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-survey-related-record-modal"
                    data-attr-disabled="$deleting"
                    data-text="$deleting ? '{{ _('deleting survey-related record...') | capitalize }}' : '{{ _('delete survey-related record...') | capitalize }}'"
            >
            </button>
            <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
                 data-attr-hidden="!$deleting">
                <span class="visually-hidden">{{ _("Loading...") }}</span>
            </div>
        {% endif %}
    </div>
</div>

<ul class="nav nav-tabs" id="item-detail" role="tablist">
    <li class="nav-item" role="presentation">
        <a
                class="nav-link active"
                id="properties-tab"
                data-bs-toggle="tab"
                data-bs-target="#properties-tab-pane"
                type="button"
                role="tab"
                aria-controls="properties-tab-pane"
                aria-selected="true"
        >{{ _("Properties") }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="links-tab"
                data-bs-toggle="tab"
                data-bs-target="#links-tab-pane"
                type="button"
                role="tab"
                aria-controls="links-tab-pane"
                aria-selected="false"
        >{{ _("Links") }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="assets-tab"
                data-bs-toggle="tab"
                data-bs-target="#assets-tab-pane"
                type="button"
                role="tab"
                aria-controls="assets-tab-pane"
                aria-selected="false"
        >{{ _("Assets") }}</a>
    </li>
</ul>
<div class="tab-content" id="tab-content">
    <div
            class="tab-pane fade show active"
            id="properties-tab-pane"
            role="tabpanel"
            aria-labelledby="properties-tab"
            tabindex="0"
    >
        <dl class="row">
            <dt class="col-sm-3">{{ _("Name") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.name|translate_localizable_string }}</dd>
            <dt class="col-sm-3">{{ _("Description") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.description|translate_localizable_string }}</dd>
            <dt class="col-sm-3">{{ _("Dataset category") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.dataset_category.name|translate_localizable_string }}</dd>
            <dt class="col-sm-3">{{ _("Domain type") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.domain_type.name|translate_localizable_string }}</dd>
            <dt class="col-sm-3">{{ _("Workflow stage") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.workflow_stage.name|translate_localizable_string }}</dd>
            <dt class="col-sm-3">{{ _("Status") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.status|translate_enum }}</dd>
            <dt class="col-sm-3">{{ _("Is valid") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.is_valid }}</dd>
            <dt class="col-sm-3">{{ _("Survey mission") }}</dt>
            <dd class="col-sm-9"><a
                    href="{{ url_for('survey_missions:detail', survey_mission_id=survey_related_record.survey_mission.id) }}">{{ survey_related_record.survey_mission.name|translate_localizable_string }}</a>
            </dd>
            <dt class="col-sm-3">{{ _("Project") }}</dt>
            <dd class="col-sm-9"><a
                    href="{{ url_for('projects:detail', project_id=survey_related_record.survey_mission.project.id) }}">{{ survey_related_record.survey_mission.project.name|translate_localizable_string }}</a>
            </dd>
            <dt class="col-sm-3">{{ _("Relative path") }}</dt>
            <dd class="col-sm-9">{{ survey_related_record.relative_path }}</dd>
        </dl>
    </div>
    <div
            class="tab-pane fade"
            id="links-tab-pane"
            role="tabpanel"
            aria-labelledby="links-tab"
            tabindex="0"
    >
        {% for link in survey_related_record.links %}
            <dl class="row">
                <dt class="col-sm-3">{{ _("url") | capitalize }}</dt>
                <dd class="col-sm-9"><a href="{{ link.url }}" rel="{{ link.relation }}" target="_blank"
                                        type="{{ link.media_type }}">{{ link.url }}</a></dd>
                <dt class="col-sm-3">{{ _("description") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.link_description |translate_localizable_string }}</dd>
                <dt class="col-sm-3">{{ _("media type") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.media_type }}</dd>
            </dl>
        {% else %}
            {{ _("no links found") | capitalize }}
        {% endfor %}
    </div>
    <div
            class="tab-pane fade"
            id="assets-tab-pane"
            role="tabpanel"
            aria-labelledby="assets-tab"
            tabindex="0"
    >
        {% for asset in survey_related_record.record_assets %}
            <dl class="row">
                <dt class="col-sm-3">{{ _("Name") }}</dt>
                <dd class="col-sm-9">{{ asset.name|translate_localizable_string }}</dd>
                <dt class="col-sm-3">{{ _("Description") }}</dt>
                <dd class="col-sm-9">{{ asset.description|translate_localizable_string }}</dd>
                <dt class="col-sm-3">{{ _("Is valid") }}</dt>
                <dd class="col-sm-9">{{ asset.is_valid }}</dd>
            </dl>
        {% else %}
            {{ _("No assets found") }}
        {% endfor %}
    </div>
</div>
