{% import "macros-buttons.html" as macros_buttons %}
{% set id_ = item.id | string | replace('-', '') %}
<div
        class="col"
        data-signals:is-valid-id{{ id_ }}="{{ 'true' if item.validation_result.is_valid else 'false' }}"
>
    <div class="card mb-3 position-relative">
        <div class="form-check position-absolute top-0 start-0 m-2">
            <input
                    type="checkbox"
                    class="form-check-input"
                    aria-label="select-item"
                    data-effect="el.checked = ($selectAllMatching ? !$excludedIds['{{ item.id }}'] : !!$selectedIds['{{ item.id }}'])"
                    data-on:change="$selectAllMatching ? ($excludedIds['{{ item.id }}'] = !evt.target.checked) : ($selectedIds['{{ item.id }}'] = evt.target.checked)"
            >
        </div>
        <div class="row g-0">
            <div class="col-md-3">
                <div class="placeholder-rectangle bg-secondary"></div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <h5 class="card-title mb-0">{{ item.name|translate_localizable_string|default(_("name not available"), True) }}</h5>
                            <span class="badge bg-dataset-category">{% if item.dataset_category %}{{ item.dataset_category.name | translate_localizable_string }}{% else %}{{ _("unknown category") }}{% endif %}</span>
                            <span class="badge bg-workflow-stage">{% if item.workflow_stage %}{{ item.workflow_stage.name | translate_localizable_string }}{% else %}{{ _("unknown stage") }}{% endif %}</span>
                        </div>
                        <div class="card-text my-2">
                            <span class="material-icons-outlined me-1">{{ icons.projects }}</span>
                            {{ item.survey_mission.project.name | translate_localizable_string }}
                            <span class="material-icons-outlined me-1">{{ icons.survey_missions }}</span>
                            {{ item.survey_mission.name | translate_localizable_string }}
                        </div>


                        <small class="text-body-secondary"><span
                                class="material-icons-outlined me-1">{{ icons['status_' + item.status.value] }}</span> {{ item.status.value }}
                        </small>
                        <small class="text-body-secondary">
                        <span
                                class="material-icons-outlined me-1"
                                data-text="$isValidId{{ id_ }} ? window.iconNames['validation_valid'] : window.iconNames['validation_invalid']"
                                data-class:text-success="$isValidId{{ id_ }}"
                                data-class:text-danger="!$isValidId{{ id_ }}"
                        ></span><span
                                data-text="$isValidId{{ id_ }} ? 'Valid' : 'Invalid' "
                                data-class:text-success="$isValidId{{ id_ }}"
                                data-class:text-danger="!$isValidId{{ id_ }}"
                        ></span>

                        </small>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-unstyled">
                                <li class="card-text">
                                    <small class="text-body-secondary">
                                        {{ item.temporal_extent_begin | default(_(".."), True) }}/{{ item.temporal_extent_end | default(_(".."), True) }}
                                    </small>
                                </li>
                                <li class="card-text text-truncate">
                                    {{ item.description|translate_localizable_string|default(_("description not available"), True) }}
                                </li>
                                <li class="card-text"><small>{{ item.record_assets | map(attribute="relative_path") | join(",") }}</small></li>
                            </ul>
                        </div>
                        <div class="col">
                            {% if not item.bbox_4326 %}
                                <div class="row mb-3">
                                    <div class="col">
                                        <span class="material-icons-outlined me-1">{{ icons.validation_invalid }}</span>
                                        {{ _("unknown spatial extent") }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {{ macros_buttons.render_view_details_button(url_for('survey_related_records:detail', survey_related_record_id=item.id)) }}
                </div>
            </div>
        </div>
    </div>
</div>
