<div class="col">
<!--
    <div class="card">
        <div class="placeholder-rectangle bg-secondary"></div>
        <div class="card-body">
            <h5 class="card-title">{{ item.name.en }}</h5>
            <p class="card-text">{{ item.root_path }}</p>
        </div>
    </div>
-->
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="placeholder-rectangle bg-secondary"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name.en }}</h5>
                    <p class="card-text"><small class="text-body-secondary">{{ item.status.value }}</small></p>
                    <p class="card-text"><small class="text-body-secondary">{{ item.is_valid }}</small></p>
                    <p class="card-text">{{ item.description.en }}</p>
                    <a href="{{ url_for('marine-campaigns:detail', marine_campaign_slug=item.slug) }}" class="btn btn-primary">{{ _("View") }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
