<div class="row">
    <div class="col">
        {% if user_can_create_survey_mission %}
            <a
                    class="btn btn-primary"
                    aria-label="new-survey-mission"
                    href="{{ url_for('survey_missions:get_creation_form', project_id=project.id) }}"
            >{{ _("New survey mission") }}</a>
        {% endif %}
    </div>
</div>
<div id="feedback" data-signals-deleting="false">
    <ul></ul>
</div>
<div class="row mb-3">
    {% if user_can_update %}
        <div class="col">
            <button
                    class="btn btn-outline-primary"
                    data-on-click="@get('{{ url_for("projects:get_update_form", project_id=project.id) }}')"
                    aria-label="edit-project"
            >{{ _("edit project") | capitalize }}
            </button>
        </div>
    {% endif %}
    <div class="col">
        {% if user_can_delete %}
            <button
                    class="btn btn-danger"
                    aria-label="show-delete-confirmation-modal"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-project-modal"
                    data-attr-disabled="$deleting"
                    data-text="$deleting ? '{{ _('Deleting project...') }}' : '{{ _('delete project...') }}'"
            >
            </button>
            <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
                 data-attr-hidden="!$deleting">
                <span class="visually-hidden">{{ _("Loading...") }}</span>
            </div>
        {% endif %}
    </div>
</div>
<ul class="nav nav-tabs" id="item-detail" role="tablist">
    <li class="nav-item" role="presentation">
        <a
                class="nav-link active"
                id="properties-tab"
                data-bs-toggle="tab"
                data-bs-target="#properties-tab-pane"
                type="button"
                role="tab"
                aria-controls="properties-tab-pane"
                aria-selected="true"
        >{{ _("Properties") }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="links-tab"
                data-bs-toggle="tab"
                data-bs-target="#links-tab-pane"
                type="button"
                role="tab"
                aria-controls="links-tab-pane"
                aria-selected="false"
        >{{ _("Links") }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="survey-missions-tab"
                data-bs-toggle="tab"
                data-bs-target="#survey-missions-tab-pane"
                type="button"
                role="tab"
                aria-controls="survey-missions-tab-pane"
                aria-selected="false"
        >{{ _("Survey missions") }}</a>
    </li>
</ul>
<div class="tab-content" id="tab-content">
    <div
            class="tab-pane fade show active"
            id="properties-tab-pane"
            role="tabpanel"
            aria-labelledby="properties-tab"
            tabindex="0"
    >
        <dl class="row">
            <dt class="col-sm-3">{{ _("Name") }}</dt>
            <dd class="col-sm-9">{{ project.name|translate_localizable_string|default(_("name not available"), True) }}</dd>
            <dt class="col-sm-3">{{ _("Description") }}</dt>
            <dd class="col-sm-9">{{ project.description|translate_localizable_string|default(_("description not available"), True) }}</dd>
            <dt class="col-sm-3">{{ _("Status") }}</dt>
            <dd class="col-sm-9">{{ project.status.value }}</dd>
            <dt class="col-sm-3">{{ _("Is valid") }}</dt>
            <dd class="col-sm-9">{{ project.is_valid }}</dd>
            <dt class="col-sm-3">{{ _("Root path") }}</dt>
            <dd class="col-sm-9">{{ project.root_path|default(_("root path not available"), True) }}</dd>
        </dl>
    </div>
    <div
            class="tab-pane fade"
            id="links-tab-pane"
            role="tabpanel"
            aria-labelledby="links-tab"
            tabindex="0"
    >
        {% for link in project.links %}
            <dl class="row">
                <dt class="col-sm-3">{{ _("url") | capitalize }}</dt>
                <dd class="col-sm-9"><a href="{{ link.url }}" rel="{{ link.relation }}" target="_blank"
                                        type="{{ link.media_type }}">{{ link.url }}</a></dd>
                <dt class="col-sm-3">{{ _("description") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.link_description |translate_localizable_string }}</dd>
                <dt class="col-sm-3">{{ _("media type") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.media_type }}</dd>
            </dl>
        {% else %}
            {{ _("no links found") | capitalize }}
        {% endfor %}
    </div>
    <div
            class="tab-pane fade"
            id="survey-missions-tab-pane"
            role="tabpanel"
            aria-labelledby="survey-missions-tab"
            tabindex="0"
    >
        {% with missions = survey_missions.survey_missions %}
            {% include "survey-missions/list-component.html" %}
        {% endwith %}
    </div>
</div>
