{% import "macros.html" as macros %}
<div class="row">
    <div class="col">
        {% if permissions.can_create_children %}
            {{ macros.render_new_item_button(
                url_for("survey_missions:get_creation_form", project_id=project.id),
                _("new survey mission")
            ) }}
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    {% if permissions.can_update %}
        <div class="col">
            {{ macros.render_update_item_button(
                url_for("projects:get_update_form", project_id=project.id),
                _("edit project")
            ) }}
        </div>
    {% endif %}
    <div class="col" data-signals-deleting="false">
        {% if permissions.can_delete %}
            {{ macros.render_delete_item_button(
                deletion_url=url_for("projects:detail", project_id=project.id),
                signal_name="deleting",
                idle_message="delete project",
                running_message="deleting project...",
                generated_csrf_token=csrf_token(request),
                modal_dialog_title=_("delete project"),
                modal_dialog_confirmation_text=_("are you sure you want to delete this project?")
            ) }}
        {% endif %}
    </div>
</div>
{% if project.bbox_4326 is none %}
    <div
            class="row"
            data-signals-bbox.min-lon="NaN"
            data-signals-bbox.min-lat="NaN"
            data-signals-bbox.max-lon="NaN"
            data-signals-bbox.max-lat="NaN"
    >
{% else %}
    <div
            class="row"
            data-signals-bbox.min-lon="{{ project.bbox_4326.bounds[0] }}"
            data-signals-bbox.min-lat="{{ project.bbox_4326.bounds[1] }}"
            data-signals-bbox.max-lon="{{ project.bbox_4326.bounds[2] }}"
            data-signals-bbox.max-lat="{{ project.bbox_4326.bounds[3] }}"
    >
        <div class="col">
            <bbox-map
                    data-tile-url="{{ settings.webmap_base_tile_layer_url }}"
                    data-center-lon="{{ project.bbox_4326.bounds[0] }}"
                    data-center-lat="{{ project.bbox_4326.bounds[1] }}"
                    data-zoom="{{ settings.webmap_default_zoom_level }}"
                    data-min-lat=""
                    data-min-lon=""
                    data-max-lat=""
                    data-max-lon=""
                    data-attr-data-min-lat="$bbox.minLat"
                    data-attr-data-min-lon="$bbox.minLon"
                    data-attr-data-max-lat="$bbox.maxLat"
                    data-attr-data-max-lon="$bbox.maxLon"
                    style="display: block; width: 100%; height: 30vh"
                    data-on-bbox-changed="$bbox = evt.detail.bbox"
            ></bbox-map>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">minLon</div>
        <div class="col-sm-10"><input type="number" data-bind="bbox.minLon"></div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">minLat</div>
        <div class="col-sm-10"><input type="number" data-bind="bbox.minLat"></div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">maxLon</div>
        <div class="col-sm-10"><input type="number" data-bind="bbox.maxLon"></div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">maxLat</div>
        <div class="col-sm-10"><input type="number" data-bind="bbox.maxLat"></div>
    </div>
{% endif %}


<div class="row" data-signals-project-id="'{{ project.id }}'">
    <div class="col">
        <h2>{{ _("properties") | capitalize }}</h2>
        <dl class="row">
            <dt class="col-sm-3">{{ _("english name") | capitalize }}</dt>
            <dd class="col-sm-9">{{ project.name.en }}</dd>
            <dt class="col-sm-3">{{ _("portuguese name") | capitalize }}</dt>
            <dd class="col-sm-9">{{ project.name.pt|default(_("portuguese name not available yet"), True) }}</dd>
            <dt class="col-sm-3">{{ _("english description") | capitalize }}</dt>
            <dd class="col-sm-9">{{ project.description.en | default(_("english description not available yet"), True) }}</dd>
            <dt class="col-sm-3">{{ _("portuguese description") | capitalize }}</dt>
            <dd class="col-sm-9">{{ project.description.pt | default(_("portuguese description not available yet"), True) }}</dd>
            <dt class="col-sm-3">{{ _("Status") }}</dt>
            <dd class="col-sm-9">{{ project.status.value }}</dd>
            <dt class="col-sm-3">{{ _("Is valid") }}</dt>
            <dd class="col-sm-9">{{ project.is_valid }}</dd>
            <dt class="col-sm-3">{{ _("Root path") }}</dt>
            <dd class="col-sm-9">{{ project.root_path|default(_("root path not available"), True) }}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>{{ _("links") | capitalize }}</h2>
        {% for link in project.links %}
            <dl class="row">
                <dt class="col-sm-3">{{ _("url") | capitalize }}</dt>
                <dd class="col-sm-9"><a href="{{ link.url }}" rel="{{ link.relation }}" target="_blank"
                                        type="{{ link.media_type }}">{{ link.url }}</a></dd>
                <dt class="col-sm-3">{{ _("description") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.link_description |translate_localizable_string }}</dd>
                <dt class="col-sm-3">{{ _("media type") | capitalize }}</dt>
                <dd class="col-sm-9">{{ link.media_type }}</dd>
            </dl>
        {% else %}
            {{ _("no links found") | capitalize }}
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>{{ _("survey missions") | capitalize }}</h2>

        {{ macros.render_search_component(
               url_for("survey_missions:get_list_component"),
               _("search project survey-missions"),
               initial_value=search_initial_value
        ) }}

        <div class="row" aria-label="items">
            <div class="col">
                {% with items = survey_missions %}
                    {% include "survey-missions/list-component.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
