{#
This template is loaded as a GET response to the /projects/ endpoint. It is used to both:

- Show a list of existing projects
- Show a form for creating a new project (if the user has permissions to do so), when the user clicks the project
  creation button - this is loaded via a server-sent event and patched into the already existing DOM, replacing the
  list of projects
#}
{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
    <span class="material-icons-outlined">view_timeline</span>{{ _("Projects") }}
{% endblock page_title %}

{% block details %}
    <div class="row">
        <div class="col">
            {% if user_can_create %}
                <button
                        class="btn btn-primary"
                        data-on-click="@get('{{ url_for("projects:get_creation_form") }}')"
                        aria-label="new-project"
                ><span class="material-icons-outlined">{{ icons.new_item }}</span>{{ _("new project") | capitalize}}
                </button>
            {% endif %}
        </div>
    </div>

    {{ macros.render_search_component(url_for("projects:get_list_component"), _("search projects")) }}

    {% include "projects/list-component.html" %}
{% endblock details %}
