{% extends "base.html" %}
{% block content %}
    <h1 class="display-1">{{ _("Projects") }}</h1>
    <div class="row">
        <div class="col">
            {% if user_can_create %}
                <a
                        class="btn btn-primary"
                        href="{{ url_for('projects:get_creation_form') }}"
                        aria-label="new-project"
                >{{ _("New project") }}</a>
            {% endif %}
        </div>
    </div>
    {% include "projects/list-component.html" %}
{% endblock %}
