{% macro render_checkbox(field, name_prefix="", test_id=None) %}
    {% set form_element_classes = "form-check-input is-invalid" if field.errors else "form-check-input" %}
    {% set form_element_described_by = name_prefix ~ field.name ~ "-help backend-validation-" ~ name_prefix ~ field.name ~ "-feedback" if field.errors else name_prefix ~ field.name ~ "-help" %}
    {% set stable_test_id = test_id or ("field-" ~ name_prefix ~ field.name) %}
    <div class="row mb-3">
        <div class="form-check form-switch{% if field.errors %} has-validation{% endif %}">
            {{ field(
                    class=form_element_classes,
                    aria_describedby=form_element_described_by,
                    aria_required="true" if field.flags.backend_required else "false",
                    aria_label=stable_test_id,
                    **kwargs
            ) }}
            {{ field.label(class="form-check-label", for=field.id) }}
            {% if field.flags.backend_required %}
                <span class="text-danger">*</span>
            {% endif %}
            <div id="{{ name_prefix }}{{ field.name }}-help" class="form-text">
                {{ field.description }}{% if field.flags.backend_required %} -
                    {{ _("This is a required field") }}{% endif %}</div>
            {% if field.errors %}
                <div class="invalid-feedback" id="backend-validation-{{ name_prefix }}{{ field.name }}-feedback">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
