<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">
    {% endblock %}
</head>
<body>
<header class="p-3 mb-3 border-bottom bg-primary">
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">SeisLabData</a>
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="{{ url_for('projects:list') }}">{{ _("Projects") }}</a>
                <a class="nav-link" href="{{ url_for('survey_missions:list') }}">{{ _("Survey Missions") }}</a>
                <a class="nav-link" href="#">{{ _("Survey-Related Records") }}</a>
                {% if request.session.user %}
                    <a class="nav-link" href="{{ url_for('profile') }}">{{ _("Profile") }}</a>
                    <a class="nav-link" href="{{ url_for('protected') }}">{{ _("Protected") }}</a>
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                <div class="dropdown me-3">
                  <button
                          class="btn btn-outline-dark dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                  >
                    {{ _(request.state.locale) }}
                  </button>
              <ul class="dropdown-menu text-bg-light">
                <li><a
                        class="dropdown-item"
                        {% if request.state.locale == "en" %}active{% endif %}
                        href="{{ url_for('set_language', lang='en') }}"
                    >en - {{ _("English") }}</a></li>
                <li><a
                        class="dropdown-item"
                        {% if request.state.locale == "pt" %}active{% endif %}
                        href="{{ url_for('set_language', lang='pt') }}"
                >pt - {{ _("Portuguese") }}</a></li>
              </ul>
            </div>
                {% if request.session.user %}
                    <div class="navbar-nav align-items-center">
                        <span class="navbar-text me-3">Welcome, {{ request.session.user.name or "User" }}</span>
                        <a class="btn btn-outline-light btn-sm" href="{{ url_for('logout') }}">
                            <i class="bi bi-box-arrow-right"></i> {{ _("Logout") }}
                        </a>
                    </div>
                {% else %}
                    <a class="btn btn-outline-light btn-sm" href="{{ url_for('login') }}">
                        <i class="bi bi-box-arrow-in-right"></i> {{ _("Login / Register") }}
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

</header>
<div class="container-fluid">
    {% if breadcrumbs %}
    <div class="row">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb p-3 bg-body-tertiary rounded-3">
                {% for item in breadcrumbs %}
                <li class="breadcrumb-item">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endif %}
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
