{% macro render_form_field(field, name_prefix="", test_id=None) %}
    {% if field.type == "HiddenField" %}
        {{ field(data_bind=field.name) }}
    {% else %}
        {% set form_element_classes = "form-control is-invalid" if field.errors else "form-control" %}
        {% set form_element_described_by = name_prefix ~ field.name ~ "-help backend-validation-" ~ name_prefix ~ field.name ~ "-feedback" if field.errors else name_prefix ~ field.name ~ "-help" %}
        {% set stable_test_id = test_id or ("field-" ~ name_prefix ~ field.name) %}
        <div class="row mb-3">
            <div class="col-sm-2">
                {{ field.label(class="form-label") }}
                {% if field.flags.backend_required %}
                    <span class="text-danger">*</span>
                {% endif %}
            </div>
            <div class="col-sm-10{% if field.errors %} has-validation{% endif %}">
                {% if field.flags.backend_required %}
                    {{ field(class=form_element_classes,
                         aria_describedby=form_element_described_by,
                         aria_required="true",
                         aria_label=stable_test_id,
                         **kwargs) }}
                {% else %}
                    {{ field(class=form_element_classes,
                         aria_describedby=form_element_described_by,
                         aria_label=stable_test_id,
                         **kwargs) }}
                {% endif %}
                <div id="{{ name_prefix }}{{ field.name }}-help" class="form-text">
                    {{ field.description }}{% if field.flags.backend_required %} -
                        {{ _("This is a required field") }}{% endif %}</div>
                {% if field.errors %}
                    <div class="invalid-feedback" id="backend-validation-{{ name_prefix }}{{ field.name }}-feedback">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}


{% macro render_localizable_field(localizable_field, id_prefix="") %}
    {% for field in localizable_field %}
        {{ render_form_field(field, id_prefix) }}
    {% endfor %}
{% endmacro %}


{% macro render_name_fields(name_form_field, id_prefix="") %}
    {% for name_field in name_form_field %}
        {{ render_form_field(name_field, id_prefix ~ "name-") }}
    {% endfor %}
{% endmacro %}


{% macro render_description_fields(description_form_field, id_prefix="") %}
    {% for description_field in description_form_field %}
        {{ render_form_field(description_field, id_prefix ~ "description-") }}
    {% endfor %}
{% endmacro %}


{% macro render_link_form(link_field, id_prefix="") %}
    {{ render_form_field(link_field.url, id_prefix ~ "link-") }}
    {{ render_form_field(link_field.media_type, id_prefix ~ "link-") }}
    {{ render_form_field(link_field.relation, id_prefix ~ "link-") }}
    {{ render_localizable_field(link_field.link_description, "link-") }}
{% endmacro %}


{% macro render_links_fields(links, add_link_url, remove_link_url, csrf_token, id_prefix="") %}
    <div class="row border p-4 mb-3">
        <div id="{{ id_prefix }}form-links-container" class="col">
            {% for link_field in links %}
                <h4>{{ _("link") | capitalize }} {{ loop.index0 + 1 }}</h4>
                {{ render_link_form(link_field, id_prefix) }}
                <button
                        type="submit"
                        class="btn btn-outline-danger"
                        data-on:click="@post('{{ remove_link_url }}?link_index={{ loop.index0 }}', {
                  contentType: 'form',
                  headers: {'X-CSRFToken': '{{ csrf_token }}'},
                })"
                >{{ _("remove link") | capitalize }}</button>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        aria-label="{{ id_prefix }}add-another-link"
                        data-on:click="@post('{{ add_link_url }}', {
          contentType: 'form',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
        })"
                >
                    {{ _("Add another link") }}
                </button>
            </div>
        </div>

    </div>
{% endmacro %}


{% macro render_pagination(pagination) %}
    {% if pagination.total_filtered_pages > 1 %}
        <nav aria-label="project-pagination">
            <ul class="pagination justify-content-center">
                {% if pagination.previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ pagination.previous_page_url }}" aria-label="previous-page">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ pagination.previous_page_url }}">
                            {{ pagination.previous_page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                {% endif %}
                <li class="page-item active"><span class="page-link">{{ pagination.current_page }}</span></li>
                {% if pagination.next_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ pagination.next_page_url }}">
                            {{ pagination.next_page }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ pagination.next_page_url }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}


{% macro render_view_details_button(details_url) %}
    <a
            href="{{ details_url }}"
            class="btn btn-outline-primary"
    >
        <span class="material-icons-outlined">{{ icons.view_details }}</span>{{ _("View") }}
    </a>
{% endmacro %}


{% macro render_new_item_button(url, text) %}
    <button
            class="btn btn-primary"
            data-on:click="@get('{{ url }}')"
            aria-label="new-item"
    >
        <span class="material-icons-outlined">{{ icons.new_item }}</span>{{ text | capitalize }}
    </button>
{% endmacro %}


{% macro render_update_item_button(url, text) %}
    <button
            class="btn btn-outline-primary"
            data-on:click="@get('{{ url }}')"
            aria-label="update-item"
    ><span class="material-icons-outlined">{{ icons.edit_item }}</span>{{ text | capitalize }}
    </button>
{% endmacro %}


{% macro render_delete_item_button(
    deletion_url,
    signal_name,
    idle_message,
    running_message,
    generated_csrf_token,
    modal_dialog_title=_("delete item"),
    modal_dialog_confirmation_text=_("Are you sure you want to delete this item?")
) %}

    <button
            class="btn btn-danger"
            aria-label="show-delete-confirmation-modal"
            data-bs-toggle="modal"
            data-bs-target="#delete-item-modal"
            data-attr:disabled="${{ signal_name }}"
    >
        <span class="material-icons-outlined">{{ icons.delete_item }}</span><span data-text="${{ signal_name }} ? '{{ running_message }}' : '{{ idle_message }}...'"></span>
    </button>
    <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
         data-attr:hidden="!${{ signal_name }}">
        <span class="visually-hidden">{{ _("Loading...") }}</span>
    </div>
    <div
            id="delete-item-modal"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="delete-item-modal-label"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-item-modal-label">{{ modal_dialog_title | capitalize }}</h1>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label={{ _("Close") }}
                    ></button>
                </div>
                <div class="modal-body">
                    {{ modal_dialog_confirmation_text }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                    <button
                            type="button"
                            aria-label="delete-item"
                            class="btn btn-danger"
                            data-on:click="@delete('{{ deletion_url }}', {
                                    headers: {'X-CSRFToken': '{{ generated_csrf_token }}'}
                                })"
                            data-indicator="{{ signal_name }}"
                            data-bs-dismiss="modal"
                    >{{ idle_message }}</button>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro render_search_component(search_url, label_text, initial_value="") %}
    <div class="row mb-3" data-signals:search="'{{ initial_value }}'">
        <div class="col">
            <search data-signals:searching="false">
                <label class="form-label" for="search">{{ label_text | capitalize }}</label>
                <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
                     data-attr:hidden="!$searching">
                    <span class="visually-hidden">{{ _("searching...") | capitalize }}</span>
                </div>
                <input
                        class="form-control"
                        type="search"
                        id="search"
                        data-bind:search
                        data-on:input__debounce.200ms="@get('{{ search_url }}')"
                        data-indicator="searching"
                />
            </search>
        </div>
    </div>
{% endmacro %}


{% macro render_bbox_display_component(
    webmap_base_tile_layer_url,
    webmap_default_zoom_level,
    bbox_4326
) %}
    <div class="row">
        <div class="col">
            <bbox-map-readonly
                    data-tile-url="{{ webmap_base_tile_layer_url }}"
                    data-center-lon="{{ bbox_4326.bounds[0] }}"
                    data-center-lat="{{ bbox_4326.bounds[1] }}"
                    data-zoom="{{ webmap_default_zoom_level }}"
                    data-min-lon="{{ bbox_4326.bounds[0] }}"
                    data-min-lat="{{ bbox_4326.bounds[1] }}"
                    data-max-lon="{{ bbox_4326.bounds[2] }}"
                    data-max-lat="{{ bbox_4326.bounds[3] }}"
                    style="display: block; width: 100%; height: 30vh"
            ></bbox-map-readonly>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-3">{{ _("Minimum longitude") | capitalize }}</dt>
        <dt class="col-sm-9">{{ bbox_4326.bounds[0] }}</dt>
        <dt class="col-sm-3">{{ _("Minimum latitude" | capitalize) }}</dt>
        <dt class="col-sm-9">{{ bbox_4326.bounds[1] }}</dt>
        <dt class="col-sm-3">{{ _("Maximum longitude" | capitalize) }}</dt>
        <dt class="col-sm-9">{{ bbox_4326.bounds[2] }}</dt>
        <dt class="col-sm-3">{{ _("Maximum latitude" | capitalize) }}</dt>
        <dt class="col-sm-9">{{ bbox_4326.bounds[3] }}</dt>
    </dl>
{% endmacro %}


{% macro render_bbox_update_component(
    webmap_base_tile_layer_url,
    webmap_default_zoom_level,
    bounding_box_form_field
) %}
    <div
            class="row"
            data-signals:bbox.min-lon="{{ bounding_box_form_field.min_lon.data }}"
            data-signals:bbox.max-lon="{{ bounding_box_form_field.max_lon.data }}"
            data-signals:bbox.min-lat="{{ bounding_box_form_field.min_lat.data }}"
            data-signals:bbox.max-lat="{{ bounding_box_form_field.max_lat.data }}"
    >
        <div class="col">
            <bbox-map
                    data-tile-url="{{ webmap_base_tile_layer_url }}"
                    data-center-lon="{{ bounding_box_form_field.min_lon.data }}"
                    data-center-lat="{{ bounding_box_form_field.min_lat.data }}"
                    data-zoom="{{ webmap_default_zoom_level }}"
                    data-min-lat=""
                    data-min-lon=""
                    data-max-lat=""
                    data-max-lon=""
                    data-attr:data-min-lat="$bbox.minLat"
                    data-attr:data-min-lon="$bbox.minLon"
                    data-attr:data-max-lat="$bbox.maxLat"
                    data-attr:data-max-lon="$bbox.maxLon"
                    style="display: block; width: 100%; height: 30vh"
                    data-on:bbox-changed="$bbox = evt.detail.bbox"
            ></bbox-map>
        </div>
    </div>
    {{ render_form_field(bounding_box_form_field.min_lon, data_bind="bbox.minLon") }}
    {{ render_form_field(bounding_box_form_field.max_lon, data_bind="bbox.maxLon") }}
    {{ render_form_field(bounding_box_form_field.min_lat, data_bind="bbox.minLat") }}
    {{ render_form_field(bounding_box_form_field.max_lat, data_bind="bbox.maxLat") }}
{% endmacro %}
