{% macro render_form_field(field, name_prefix="") %}
    {% set form_element_classes = "form-control is-invalid" if field.errors else "form-control" %}
    {% set form_element_described_by = name_prefix ~ field.name ~ "-help backend-validation-" ~ name_prefix ~ field.name ~ "-feedback" if field.errors else name_prefix ~ field.name ~ "-help" %}
    <div class="row mb-3">
        <div class="col-sm-2">
            {{ field.label(class="form-label") }}
            {% if field.flags.backend_required %}
                <span class="text-danger">*</span>
            {% endif %}
        </div>
        <div class="col-sm-10{% if field.errors %} has-validation{% endif %}">
            {% if field.flags.backend_required %}
                {{ field(class=form_element_classes, aria_describedby=form_element_described_by, aria_required="true", data_bind=field.name, **kwargs) }}
            {% else %}
                {{ field(class=form_element_classes, aria_describedby=form_element_described_by, data_bind=field.name, **kwargs) }}
            {% endif %}
            <div id="{{ name_prefix }}{{ field.name }}-help" class="form-text">
                {{ field.description }}{% if field.flags.backend_required %} -
                    {{ _("This is a required field") }}{% endif %}</div>
            {% if field.errors %}
                <div class="invalid-feedback" id="backend-validation-{{ name_prefix }}{{ field.name }}-feedback">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_localizable_field(localizable_field, id_prefix="") %}
    {% for field in localizable_field %}
        {{ render_form_field(field, id_prefix ~ field.name ~ "-") }}
    {% endfor %}
{% endmacro %}


{% macro render_name_fields(name_form_field, id_prefix="") %}
    {% for name_field in name_form_field %}
        {{ render_form_field(name_field, id_prefix ~ "name-") }}
    {% endfor %}
{% endmacro %}


{% macro render_description_fields(description_form_field, id_prefix="") %}
    {% for description_field in description_form_field %}
        {{ render_form_field(description_field, id_prefix ~ "description-") }}
    {% endfor %}
{% endmacro %}


{% macro render_links_fields(links, add_link_url, remove_link_url, csrf_token, id_prefix="") %}
    <div class="row border p-4 mb-3">
        <div id="{{ id_prefix }}form-links-container" class="col">
            {% for link_field in links %}
                <h4>{{ _("link") | capitalize }} {{ loop.index0 + 1 }}</h4>
                {{ render_form_field(link_field.url, id_prefix ~ "link-") }}
                {{ render_form_field(link_field.media_type, id_prefix ~ "link-") }}
                {{ render_form_field(link_field.relation, id_prefix ~ "link-") }}
                {{ render_localizable_field(link_field.link_description, "link-") }}
{#
                {% for description_field in link_field.link_description %}
                    {{ render_form_field(description_field, id_prefix ~ "link-description-") }}
                {% endfor %}
#}
                <button
                        type="submit"
                        class="btn btn-outline-secondary"
                        data-on-click="@post('{{ remove_link_url }}?link_index={{ loop.index0 }}', {
                  contentType: 'form',
                  headers: {'X-CSRFToken': '{{ csrf_token }}'},
                })"
                >{{ _("remove") | capitalize }}</button>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        data-on-click="@post('{{ add_link_url }}', {
          contentType: 'form',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
        })"
                >
                    {{ _("Add another link") }}
                </button>
            </div>
        </div>

    </div>
{% endmacro %}
