{% macro render_view_details_button(details_url) %}
    <a
            href="{{ details_url }}"
            class="list-group-item list-group-item-action"
    >
        <span class="material-icons-outlined me-1">{{ icons.view_details }}</span>{{ _("View") }}
    </a>
{% endmacro %}


{% macro render_new_item_button(url, text, icon_name=icons.new_item) %}
    <button
            class="list-group-item list-group-item-action list-group-item-light"
            data-on:click="@get('{{ url }}')"
            aria-label="new-item"
    >
        <span class="material-icons-outlined me-1">{{ icon_name }}</span>{{ text | capitalize }}
    </button>
{% endmacro %}


{% macro render_update_item_button(url, text) %}
    <button
            data-attr:disabled="$status === 'under_validation'"
            data-on:click="@get('{{ url }}')"
            class="list-group-item list-group-item-action list-group-item-info"
            aria-label="update-item"
    ><span class="material-icons-outlined me-1">{{ icons.edit_item }}</span>{{ text | capitalize }}
    </button>
{% endmacro %}


{% macro render_delete_item_button(
    deletion_url,
    signal_name,
    idle_message,
    running_message,
    generated_csrf_token,
    modal_dialog_title=_("delete item"),
    modal_dialog_confirmation_text=_("Are you sure you want to delete this item?")
) %}

    <button
            class="list-group-item list-group-item-action list-group-item-danger"
            aria-label="show-delete-confirmation-modal"
            data-bs-toggle="modal"
            data-bs-target="#delete-item-modal"
            data-attr:disabled="${{ signal_name }}"
    >
        <span class="material-icons-outlined me-1">{{ icons.delete_item }}</span><span data-text="${{ signal_name }} ? '{{ running_message }}' : '{{ idle_message }}...'"></span>
    </button>
    <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
         data-attr:hidden="!${{ signal_name }}">
        <span class="visually-hidden">{{ _("Loading...") }}</span>
    </div>
    <div
            id="delete-item-modal"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="delete-item-modal-label"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-item-modal-label">{{ modal_dialog_title | capitalize }}</h1>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label={{ _("Close") }}
                    ></button>
                </div>
                <div class="modal-body">
                    {{ modal_dialog_confirmation_text }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                    <button
                            type="button"
                            aria-label="delete-item"
                            class="btn btn-danger"
                            data-on:click="@delete('{{ deletion_url }}', {
                                    headers: {'X-CSRFToken': '{{ generated_csrf_token }}'}
                                })"
                            data-indicator="{{ signal_name }}"
                            data-bs-dismiss="modal"
                    >{{ idle_message }}</button>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro render_publish_item_button(
    publishing_url,
    signal_name,
    idle_message,
    running_message,
    generated_csrf_token,
    modal_dialog_title=_("publish item"),
    modal_dialog_confirmation_text=_("Are you sure you want to publish this item?")
) %}

    <button
            class="list-group-item list-group-item-action list-group-item-warning"
            aria-label="show-publish-confirmation-modal"
            data-bs-toggle="modal"
            data-bs-target="#publish-item-modal"
            data-attr:disabled="${{ signal_name }}"
    >
        <span class="material-icons-outlined me-1">{{ icons.publish_item }}</span><span data-text="${{ signal_name }} ? '{{ running_message }}' : '{{ idle_message }}...'"></span>
    </button>
    <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
         data-attr:hidden="!${{ signal_name }}">
        <span class="visually-hidden">{{ _("Loading...") }}</span>
    </div>
    <div
            id="publish-item-modal"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="publish-item-modal-label"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="publish-item-modal-label">{{ modal_dialog_title | capitalize }}</h1>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label={{ _("Close") }}
                    ></button>
                </div>
                <div class="modal-body">
                    {{ modal_dialog_confirmation_text }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                    <button
                            type="button"
                            aria-label="publish-item"
                            class="btn btn-warning"
                            data-on:click="@post('{{ publishing_url }}', {
                                    headers: {'X-CSRFToken': '{{ generated_csrf_token }}'}
                                })"
                            data-indicator="{{ signal_name }}"
                            data-bs-dismiss="modal"
                    >{{ idle_message }}</button>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
