{% import "macros.html" as macros %}
<form>
    {% for name_field in form.name %}
        {{ macros.render_form_field(name_field, "name-") }}
    {% endfor %}

    {% for description_field in form.description %}
        {{ macros.render_form_field(description_field, "description-") }}
    {% endfor %}

    {{ macros.render_form_field(form.relative_path) }}

    <h3 data-signals="{nextIndex: {{ form.links|length }}}">{{ _("Links") }}</h3>
    <div class="row border p-4 mb-3">
        <div id="form-links-container" class="col">
            {% for link_field in form.links %}
                <h4>{{ _("Link") }} {{ loop.index0 + 1 }}</h4>
                {{ macros.render_form_field(link_field.url, "link-") }}
                {{ macros.render_form_field(link_field.media_type, "link-") }}
                {{ macros.render_form_field(link_field.relation, "link-") }}
                {% for description_field in link_field.link_description %}
                    {{ macros.render_form_field(description_field, "link-description-") }}
                {% endfor %}
                <button
                        type="submit"
                        class="btn btn-outline-secondary"
                        data-on-click="@post('{{ url_for("survey_missions:remove_create_form_link", link_index=loop.index0) }}', {
                  contentType: 'form',
                  headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'},
                })"
                >{{ _("Remove") }}</button>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        data-on-click="@post('{{ url_for("survey_missions:add_create_form_link") }}', {
          contentType: 'form',
          headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'},
        })"
                >
                    {{ _("Add another link") }}
                </button>
            </div>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-on-click="@post('{{ url_for('projects:detail', project_id=project.id) }}', {
                            contentType: 'form',
                            headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}
                        })"
                    data-indicator="posting"
                    data-attr-disabled="$posting"
                    data-text="$posting ? '{{ _('Creating survey mission...') }}' : '{{ _('Create survey mission') }}'"
            >
            </button>
            <div class="spinner-border spinner-border-sm ms-3" role="status" aria-hidden="true"
                 data-attr-hidden="!$posting">
                <span class="visually-hidden">{{ _("Loading...") }}</span>
            </div>
        </div>
    </div>
</form>
