name: Deploy published image

on:
  workflow_call:
    inputs:
      image_digest:
        required: true
        type: string
      tag_name:
        required: true
        type: string

jobs:
  initiate-deployment:
    runs-on: ubuntu-24.04
    environment:
      name: ${{ inputs.tag_name == 'latest' && 'naturalgis-test' || 'ipma-production' }}
      url: ${{ inputs.tag_name == 'latest' && 'https://seis-lab-data.naturalgis.pt' || 'https://seis-lab-data.ipma.pt' }}
    permissions:
      deployments: write
    concurrency:
      group: deploy-${{ inputs.tag_name == 'latest' && 'test-env' || 'production-env '}}
      cancel-in-progress: true
    steps:
      - name: "Prepare image URL"
        id: prepare-image
        run: echo "image_url=$(echo 'ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}@{{ inputs.image_digest }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: "Login to container registry"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.CI_MANAGEMENT_USERNAME }}
          password: ${{ secrets.CI_MANAGEMENT_PAT }}

      - name: "Check if image is already published"
        shell: python
        run: |
          import subprocess
          import shlex
          import sys
          import time
          image = "${{ steps.prepare-image.outputs.image_url}}"
          print(f"Waiting for {image}...")
          command = shlex.split(f"docker manifest inspect {image}")
          for i in range(20):
              if subprocess.run(command, capture_output=True).returncode == 0:
                  print("image is published")
                  sys.exit(0)
              print("image not published yet, trying again in 15s...")
              time.sleep(30)
          sys.exit(1)

      - name: Create GitHub deployment
        id: create-deployment
        uses: chrnorm/deployment-action@v2
        with:
          initial-status: 'pending'
          token: ${{ secrets.GITHUB_TOKEN }}
          payload: |
            {
              "image_url": "${{ steps.prepare-image.outputs.image_url }}",
              "tag": "${{ inputs.tag_name }}"
            }
          environment: ${{ inputs.tag_name == 'latest' && 'naturalgis-test' || 'ipma-production' }}
